body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:#fffafa;
    position:fixed;
}
.navbar a {
    background-image: linear-gradient(
      to right,
      #4D2C5E,
      #4D2C5E 50%,
      #383838 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    margin: 0px 5px 0px 30px;
}
.navbar a:before{
    content: '';
    background: #4D2C5E;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.navbar a:hover {
   background-position: 0;
}
.navbar a:hover::before{
    width: 100%;
  }
  .header .logo img{
    width: 150px;
    height: 60px;
    object-fit: cover;
    margin-left: 10px;

}

.container {
    margin-top: 150px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #4D2C5E;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: 500;
    color: #333;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4D2C5E;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8b41af;
}
textarea{
    resize:none;
}